# ----------------------------
# Java / Maven (geral)
# ----------------------------
target/
build/
**/target/
**/build/

# ----------------------------
# Maven wrapper
# ----------------------------
.mvn/
!**/maven-wrapper.jar

# ----------------------------
# IntelliJ IDEA (raiz e subpastas)
# ----------------------------
.idea/
**/*.iml
**/*.iws
**/*.ipr
api/.idea/workspace.xml
/api/.idea
*.xml
# ----------------------------
# Spring Tool Suite
# ----------------------------
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# ----------------------------
# NetBeans
# ----------------------------
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Arquivos adicionais
# ----------------------------
HELP.md
